body{
    background-color:rgb(80,80,200);
    font-family: Verdana;
    text-align:center;
}
form{
    background-color:white;
    max-width: 500px;
    box-shadow:2px 5px 10px black;
    margin:40px auto;
    padding:20px 10px;

}
.form_align{
    text-align:left;
    margin-bottom:25px;

}
label{
    display:block;
    margin-bottom:10px;
}
input,select,textarea{
    resize:none;
    border:2px solid black;
    border-radius:4px;
    padding:10px;
     display:block;
    width:95%;

}
input[type="radio"],input[type="checkbox"]{
    display:inline-block;
    float:left;
    width:auto;
}
button{
    background-color:rgb(80,80,200);
    border-radius:3px;
    font-size:25px;
    display:block;
    width:100%;
    margin-top: 50px;
    margin-bottom:50px;
    
}